@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Short+Stack&display=swap');
@import 'tailwindcss';

:root {
	--text: #171717;
	--background: #f5f5f5;
	--border: #a8a29e;
	--surface: #d6d3d1;

	--red: #f87171;
	--green: #34d399;
	--blue: #22d3ee;
	--purple: #c084fc;
	--pink: #f472b6;
}

html,
body {
	margin: 0;
	padding: 0;

	background-color: var(--background);
	font-family: 'Short Stack', sans-serif;
	color: var(--text);
	font-size: 14px;

	overscroll-behavior-y: none;
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

@utility pt-safe {
	padding-top: env(safe-area-inset-top, 0px);
}
@utility pb-safe {
	padding-bottom: env(safe-area-inset-bottom, 0px);
}
@utility pl-safe {
	padding-left: env(safe-area-inset-left, 0px);
}
@utility pr-safe {
	padding-right: env(safe-area-inset-right, 0px);
}
